@import './base.css';
@import "tailwindcss";


#app {
max-width: none; 
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a,
.green {
  text-decoration: none;
  color: rgb(255, 244, 234);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 30%, 45%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: block;
    place-items: center;
  }

  #app {
    display: grid;
    padding: 0 2rem; 
    grid-template-columns: none;
  }
  /* Aggiungi questo in fondo al file */
@layer components {
  /* Puoi sovrascrivere qui le classi Tailwind se necessario */
  body {
    padding-top: 80px; /* Compensa l'altezza della navbar fixed */
  }
}
}
